# ===== Terraform =====
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/*.tfvars.json
crash.log
.terraformrc
terraform.rc

# ===== Python / venv =====
**/__pycache__/
**/.venv/
**/venv/

# ===== Logs / artifacts =====
**/*.log

# ===== OS/editor junk (tùy chọn) =====
.DS_Store
Thumbs.db
*.swp
*.swo
